{% extends 'sell_it_app/base.html' %}

{% block title %}{{ listing.title }}{% endblock %}

{% block content %}
<div class="container" style="margin-top: 20px; margin-bottom: 10px;">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8" style="margin-top: 20px; margin-bottom: 10px;">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner justify-content-center" style="border-radius: 30px;">
                    {% for picture in pictures %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{ picture.image.url }}" class="d-block w-40" alt="...">
                    </div>
                   {% endfor %}
                </div>
            </div>
      </div>
    </div>
</div>
<div class="container" style="margin-top: 10px; margin-bottom: 10px; border-bottom: 1px solid #e0dfdf;">
    <div class="row">
        <h5 style="font-size: xxx-large; font: bold; margin-top: 20px; margin-bottom: 10px;">{{ listing.title }}</h5>
        <div class="col-md-8" style="margin-bottom: 20px;">
            <span class="d-block" style="font-size: small; margin-bottom: 10px;">{{ listing.offer_type }}</span>
            <span class="d-block" style="font-size: x-large;"><b>{{ listing.price }} USD</b></span>
        </div>
        <div class="col-md-8" style="margin-bottom: 20px;">
            <button type="button" class="btn btn-outline-secondary" style="border-radius: 20px;">Condition: <b>{{ listing.condition }}</b></button>
        </div>
    </div>
    <div class="d-grid gap-2 col-2" style="margin-bottom: 20px;">
        <a href="{% url 'send-new-message' listing.id %}">
      <button class="btn btn-outline-primary" type="button">Send message</button>
            </a>
    </div>
    <div class="col-md-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="container" style="margin-top: 10px; margin-bottom: 10px; border-bottom: 1px solid #e0dfdf;">
    <div class="row">
        <div class="col-md-8" style="margin-right: 80px;">
            <span class="d-block" style="margin-bottom: 20px; margin-top: 20px;">{{ listing.description }}</span>
            <a href="{% url 'google-maps' listing.id %}" style="margin-bottom: 20px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-map" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.5.5 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103M10 1.91l-4-.8v12.98l4 .8zm1 12.98 4-.8V1.11l-4 .8zm-6-.8V1.11l-4 .8v12.98z"/>
                </svg>
                 {{ listing.address_id.postal_code }}, {{ listing.address_id.city }}</a>
        </div>
        <div class="col-md-3 justify-content-end">
            <div id="map" style="width: 350px; height: 350px; border: 1px solid #c2c1c1; border-radius: 20px; margin-bottom: 10px; margin-right: -20px;">
                <script>
                    function initMap() {
                        var map = new google.maps.Map(document.getElementById('map'), {
                            center: {lat: -34.397, lng: 150.644},
                            zoom: 10
                        });
                        var address = '{{ listing.address_id.city }}, {{ listing.address_id.street_name }}'; // Pobierz adres z ogłoszenia
                        var geocoder = new google.maps.Geocoder();
                        geocoder.geocode({'address': address}, function(results, status) {
                            if (status === 'OK') {
                                map.setCenter(results[0].geometry.location);
                                var marker = new google.maps.Marker({
                                    map: map,
                                    position: results[0].geometry.location
                                });
                            } else {
                                console.error('Geocode was not successful for the following reason: ' + status);
                            }
                        });
                    }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 10px; margin-bottom: 20px; border-bottom: 1px solid #e0dfdf;">
    <div class="row">
        <span style="font-size: medium; margin-bottom: 20px;">Private seller</span>
        <style>
        .round-image {
            width: 100px;
            height: 100px;
            background-size: cover;
            background-position: top;
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid black;
             {% if avatar.avatar %}
            background-image: url('{{ avatar.avatar.url }}');
            {% else %}
            background-image: url('/static/images/avatar.png');
            {% endif %}
        }
        .rating-container {
            display: flex;
            align-items: center;
        }

        .rating-circle {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: blue; /* Niebieski kolor */
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 14px;
        }
        .rating-scale {
            margin-left: 10px; /* Odstęp między oceną a tekstem */
        }

        .rating-text {
            font-size: 16px;
            color: blue;
        }
        </style>
        <div class="row">
            <div class="col-md-2">
                <div class="round-image"></div>
            </div>
            <div class="col-md-4" style="margin-left: -80px;">
                <span style="font-size: xx-large; font: aptos"><b>{{ user.get_full_name }}</b></span>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                </svg>
                <span style="font-size: medium; color: blue">Verified user</span>
            </div>
            <div>
                <span style="font-size: small"><b>On Sell-it! since</b> {{ user.date_joined }}</span>
            </div>
            <div class="rating-container">
                <div class="rating-circle" style="margin-bottom: 50px;">8.5</div>
                <div class="rating-scale">
                        <div class="rating-text" style="margin-bottom: 50px;">62 ratings</div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}