{% extends "sell_it_app/base.html" %}

{% block title %}Sign In{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="container d-flex justify-content-center align-items-center" style="background-color: #02027e; margin-top: 100px; margin-bottom: 300px; border-radius: 20px;">
                <form action="{% url 'login' %}" method="post" class="form-signin">
                    {% csrf_token %}
                    <h1 class="h3 mb-3 font-weight-bold text-center" style="margin-top: 50px; color: white">Sign In</h1>
                    <div class="text-left">
                        <label for="login" class="sr-only" style="color: white; font-size: small">Login</label>
                        <input type="text" id="login" name="username" class="form-control mb-3" placeholder="Login" required autofocus>

                        <label for="password" class="sr-only" style="color: white; font-size: small;">Password</label>
                        <input type="password" id="password" name="password" class="form-control mb-3" placeholder="Password" required>
                    </div>
                    <div class="text-center" style="margin-top: 50px;">
                        <button class="btn btn-lg btn-secondary btn-block" type="submit" style="margin-bottom: 30px; text-align: center; color: #02027e; background-color: #c2c1c1; border-radius: 30px;">Sign in</button>
                    </div>
                    <div class="text-center" style="color: #a4a4f1; margin-bottom: 40px;">
                        <a href="/">Back to Main Page</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}