{% extends 'sell_it_app/base.html' %}

{% block title %}My Profile{% endblock %}

{% block content %}
<div class="container" style="margin-top: 30px;">
    <h5 style="font-size: x-large; font: bold; margin-bottom: 20px;">Update profile</h5>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col" style="border: 1px solid #e0dfdf; border-radius: 10px;">
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container" style="background-color: #ffffff; margin-top: 20px; margin-bottom: 20px; border-radius: 20px;">
                    <div class="col" style="margin-bottom: 20px;">
                            <style>
                            .round-image {
                                width: 100px;
                                height: 100px;
                                background-size: cover;
                                background-position: top;
                                border-radius: 50%;
                                overflow: hidden;
                                border: 1px solid black;
                                {% if avatar.avatar %}
                                background-image: url('{{ avatar.avatar.url }}');
                                {% else %}
                                background-image: url('/static/images/CV.jpeg');
                                {% endif %}
                            }
                            </style>
                        <div class="col-md-2"></div>
                            <div class="round-image"></div>
                        </div>
                        <div class="col-md-4" style="margin-top: 20px;">
                            <label for="first-name" class="sr-only" style="color: black; font-size: medium; margin-bottom: 10px;"><b>Change profile picture</b></label>
                            <div class="input-group">
                              <input type="file" name='avatar' class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                              <button class="btn btn-primary" type="submit" id="inputGroupFileAddon04">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-upload" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383"/>
                                <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708z"/>
                              </svg> Upload</button>
                            </div>

                        </div>
                        <div class="info" style="margin-top: -20px;">
                            <span style="font-size: small; margin-left: 5px; margin-top: 20px; margin-bottom: 20px;">
                                <br>Max filesize is 1MB.
                            </span>
                        </div>
                    </div>
                    </div>
            </div>
            </form>
                    <label for="first-name" class="sr-only" style="font-size: medium; margin-bottom: 10px;"><b>First Name</b></label>
                    <input type="text" id="first-name" name="first_name" class="form-control mb-3" placeholder="{{ user.first_name }}" autofocus>

                    <label for="last-name" class="sr-only" style="color: black; font-size: medium; margin-bottom: 10px;"><b>Last Name</b></label>
                    <input type="text" id="last-name" name="last_name" class="form-control mb-3" placeholder="{{ user.last_name }}">

                    <label for="login" class="sr-only" style="color: black; font-size: medium; margin-bottom: 10px;"><b>Login</b></label>
                    <input type="text" id="login" name="username" class="form-control mb-3" placeholder="{{ user.username }}" disabled autofocus>

                    <div class="info" style="margin-top: -35px; margin-bottom: 10px;">
                        <span style="font-size: small; margin-left: 5px; margin-top: 0px; margin-bottom: 20px;">
                            <br>The modification of the username is strictly prohibited.
                            If you wish to change your username, please contact the system administrator directly for assistance.
                        </span>
                    </div>

                    <label for="password" class="sr-only" style="color: black; font-size: medium; margin-bottom: 10px;"><b>New password</b></label>
                    <input type="password" id="password" name="password" class="form-control mb-3" placeholder="Password">

                    <label for="password-confirm" class="sr-only" style="color: black; font-size: medium; margin-bottom: 10px;"><b>Confirm new password</b></label>
                    <input type="password" id="password-confirm" name="password_confirm" class="form-control mb-3" placeholder="Confirm Password">

                    <label for="email" class="sr-only" style="color: black; font-size: medium; margin-bottom: 10px;"><b>Email</b></label>
                    <input type="email" id="email" name="email" class="form-control mb-3" placeholder="{{ user.email }}" disabled>

                    <div class="info" style="margin-top: -35px; margin-bottom: 10px;">
                        <span style="font-size: small; margin-left: 5px; margin-top: 0px; margin-bottom: 20px;">
                            <br>The modification of the username is strictly prohibited.
                            If you wish to change your username, please contact the system administrator directly for assistance.
                        </span>
                    </div>

                    <div class="col-md-4">
                    <label for="dob" class="sr-only" style="color: black; font-size: medium; margin-bottom: 10px;"><b>Date of Birth</b></label>
                    <input type="date" id="dob" name="dob" class="form-control mb-3" placeholder="{{ user.date_of_birth }}">
                    <div class="dob" style="margin-top: -10px; font-size: small">
                        <span>
                            (<b>Now:</b> {{ user.date_of_birth }})
                        </span>
                    </div>
                    </div>
                    <div class="col-md-12 justify-content-center" style="margin-bottom: 20px; margin-top: 30px;">
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit">Update</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}