# Database
# https://docs.djangoproject.com/en/2.1/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '<database_db>',
        'HOST': 'localhost',
        'PASSWORD': '<db_password>',
        'USER': '<username>',
        'PORT': 5432
    }
}